#footer {
  padding: 50px 0px 100px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu {
  display: flex;
  align-items: center;
  gap: 40px;

  .list__item {
    @include text(rgba(255, 255, 255, 0.7), "Nunito Sans", 18px, 400, normal);
  }
}
.reserve {
  span {
    @include text(rgba(255, 255, 255, 0.7), " Nunito Sans", 16px, 400, 38px);
    letter-spacing: -0.5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #footer {
    padding: 50px 0px 80px;
  }

  .footer__menu {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #footer {
    padding: 50px 0px;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    margin-top: 30px;
    .list__item {
      @include text(rgba(255, 255, 255, 0.7), "Nunito Sans", 14px, 400, normal);
    }
  }
  .reserve {
    span {
      @include text(rgba(255, 255, 255, 0.7), " Nunito Sans", 14px, 400, 38px);
      letter-spacing: 0px;
    }
    margin-top: 30px;
  }
}
